.scorecard { 
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 25px;
    height: 150px;
}

/* .home {
    float: left;
}

.away {
    float: right;
} */

.city {
    display: block;
    text-align: center;
}

.name {
    display: block;
    text-align: center;
}

.record {
    display: block;
    text-align: center;
}

.score{
    text-align: center;
}